---
- hosts: all_servers
  become: true
  become_user: root

  tasks:

   - name: Copy .pgpass
     template:
       src: ./pgpool_files/.pgpass
       dest: /var/lib/postgresql/.pgpass
       mode: 0600
       owner: postgres
       group: postgres

   - name: Copy pgpool.conf
     template:
       src: ./pgpool_files/pgpool.conf
       dest: /etc/pgpool2/pgpool.conf
       owner: root
       group: root
 
   - name: Copy failover.sh
     template:
       src: ./pgpool_files/failover.sh
       dest: /etc/pgpool2/
       mode: 0755
       owner: root
       group: root

   - name: Copy follow_master.sh
     template:
       src: ./pgpool_files/follow_master.sh
       dest: /etc/pgpool2/
       mode: 0755
       owner: root
       group: root

   - name: Copy recovery_1st_stage
     template:
       src: ./pgpool_files/recovery_1st_stage
       dest: /var/lib/postgresql/13/main/
       mode: 0755
       owner: root
       group: root

   - name: Copy pgpool_remote_start
     template:
       src: ./pgpool_files/pgpool_remote_start
       dest: /var/lib/postgresql/13/main/
       mode: 0755
       owner: root
       group: root

